* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 0 60px;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 769px) {
  .menu-icon {
    display: none !important;
  }

  .nav {
    display: flex;
    list-style-type: none;
  }

  .nav li {
    margin: 0 20px;
  }

  .nav a {
    color: #242222;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
  }

  .nav a:hover {
    color: #aaa;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 60px;
    background-color: #242222;
    z-index: 999;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .nav li {
    margin: 0px 0;
  }

  .nav a {
    display: block;
    padding: 10px;
    font-size: 1rem;
    color: white; /* 글자색을 흰색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.3s;
  }

  /* 메뉴 항목에 마우스를 올렸을 때 배경색 변경 */
  .nav a:hover {
    background-color: #555; /* 배경색 변경 */
    color: #f5f5f5; /* 글자색을 밝게 변경 */
  }

  .nav.active {
    display: flex;
  }
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #242222;
  text-transform: uppercase;
}

.menu-icon {
  font-size: 28px;
  color: #222;
  display: none;
  cursor: pointer;
}

#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: white;
  text-align: center;
  background-image: url('2019041801754_0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 57, 57, 0.6);
  z-index: 0;
}
/* 글자가 오버레이 위로 올라오게 */
#hero > * {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  color: #ccc;
}

#about {
  /* margin-top: 100px; */
  padding: 50px 0;
  background-color: #fff;
}

.about-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
  font-weight: 900;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 */
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-item {
  background-color: #fff;
  color: #333;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-item i {
  font-size: 36px;
  color: #555;
  margin-bottom: 10px;
}

.info-item h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #222;
}

.info-item p {
  font-size: 16px;
  margin: 0;
}

/* @media (max-width: 768px) {
  .info-grid {
    grid-template-columns: repeat(2, 1fr); /* 2열 
  }
} */

@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr; /* 1열 */
  }
}

footer {
  background-color: #242222;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1rem;
}

.shadow-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.github-img {
  width: 70px;
  height: auto;
}

.github-text h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

#projects {
  margin: 20px 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    margin: 20px;
  }

  .shadow-box {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 10px;
  }
}

#secon {
  margin: 70px 0;
}

.card {
  background-color: #fff;
  color: #222;
  padding: 3.5em 1em;
  border-radius: 0.6em;
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.domain {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  #team-container {
    padding: lem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
#team-container {
  padding: 13m 7em;
}

h1 {
  padding: 80px;
  padding-bottom: 0.5px;
  font-size: 3.5em;
  text-align: center;
}

.column {
  width: 100%;
  padding: 10px;
}

.card:hover a {
  color: rgb(12, 168, 168);
}

.card.a {
  text-decoration: none;
  color: #222;
  text-align: center;
}

.highlight-box {
  background-color: #ff4444;
  /* border-left: 6px solid #ff4444; */
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 6px;
  color: white;
}

.star-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* 클릭 방해 안 되도록 */
  z-index: 9999;
}

.moving-star {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: moveAlongBorder 10s linear infinite, spin 2s linear infinite;
}

@keyframes moveAlongBorder {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100vw - 40px);
  }
  50% {
    top: calc(100vh - 40px);
    left: calc(100vw - 40px);
  }
  75% {
    top: calc(100vh - 40px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
